<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/OLUWASEGUN/Documents/The_FoodCo_Automation_Test">
        <classes><class name="testLogin.LoginTests">
            <methods>
                <include name="PopupImage"/>
                <include name="init"/>
            </methods></class>
            <class name="testSetup.SetupTests"><methods>
                <include name="testGetPageURl"/></methods>
            </class></classes>
    </test></suite>